<main>
  <section class="intro">
    
<div class="intro__text">
  <div class="intro__text__title">
    <div class="intro__text__title__img">
    </div>
    <h1 class="intro__text__title__h1 logo">Pitcher.<sup>TM</sup> <br><sup></sup>
  </div>
    <div class="intro__text__grid">
      <div class="intro__text__grid__item">
        <img src="https://cdn.pixabay.com/photo/2014/03/25/15/19/family-home-296516__480.png" alt="grid item">
        <p class="intro__text__grid__item__text">House Roof</p>
      </div>
      <!---->
      <div class="intro__text__grid__item">
        <img src="https://cdn.pixabay.com/photo/2017/01/31/23/59/book-2028349_1280.png" alt="grid item">
        <p class="intro__text__grid__item__text">Book + Learning</p>
      </div>
      <!---->
      <div class="intro__text__grid__item">
        <img src="https://cdn.pixabay.com/photo/2017/09/26/18/36/brain-2789698__480.png" alt="grid item">
        <p class="intro__text__grid__item__text">Grow Knowledge</p>
      </div>
      <!---->
      <div class="intro__text__grid__item">
        <img src="https://cdn.pixabay.com/photo/2017/09/26/18/36/brain-2789698__480.png" alt="grid item">
        <p class="intro__text__grid__item__text">Grow Knowledge</p>
      </div>
  </div>
  </div>

  <div class="intro__img">
    <div class="intro__img__logo"></div>
    <p class="intro__img__text">Pitcher.<sup>TM</sup>
</div>
  </section>
</main>